/* ヘッター */
header{
  background-color: #F4F4F4;
  padding: 0.5em 0 ;					/* 上下の余白 */
	margin-bottom: 3em ;				/* 他のブロックとのスペース */
  width: 100%;
  height: 40px;
  position: relative;
}

/* ヘッダー中央のロゴ */
.logo{
  position: absolute;
  width: 100px ;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* ヘッダー右のユーザアカウント*/
.account{
  position: absolute;
  width: 40px;
  top: 8px;
  right: 10px;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon{
  position: relative;
  width: 100%;
  border-radius: 20px;
}

.account-nav{
  position: absolute;
  top: 40px;
  right: 20px;
  padding: 6px;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(39,37,37,.12);
  box-shadow: 0 2px 8px 0 rgba(39,37,37,.12);
}

/* リスト上に▲マークが表示されないように */
summary {
      display:block;
}
summary::-webkit-details-marker {
      display:none;
}

.account-nav-item {
    display: block;
    padding: 8px;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
}

.user-icon:hover{
  opacity:0.5;
}

.account-nav:hover{
  background-color: #f5f8fa;
}



/* メイン */
.hero-wrapper{
	margin: 0 auto ;	/* 左右に[auto]を指定することで、真ん中に寄る */
	padding: 10px 0 ;		/* 上下左右の余白を0にしておく */
  text-align: center;
}

.btn{
  padding:8px 24px;
  color:white;
  display:inline-block;
  background-color:#1DA1F2;
  border-radius:30px;
  text-decoration: none;
}

/* ボタン */
.btn:hover{
  opacity:0.8;
}

.fab{
  margin-right:5px;
}

.img{
  display: block;
}

.hero-icon{
  display: block;
  margin: 0 auto;
  padding: 50px 0;
  width: 80px;
  border-radius: 20px;
}

.feature-wrapper{
	margin: 80px auto ;	/* 左右に[auto]を指定することで、真ん中に寄る */
	padding: 30px 0 ;		/* 上下左右の余白を0にしておく */
  text-align: center;
  background-color: #F4F4F4;
}

.feature-content{
  padding: 40px 0;
  display: block;
}
.feature-icon{
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  width: 80px;
  border-radius:50%;
}

.howto-wrapper{
	margin: 0 auto ;	/* 左右に[auto]を指定することで、真ん中に寄る */
	padding: 0 ;		/* 上下左右の余白を0にしておく */
  text-align: center;
  margin: 100px 0;
}

.howto-img{
  width: 230px;
}

.when-wrapper{
  margin: 80px auto ;	/* 左右に[auto]を指定することで、真ん中に寄る */
	padding: 30px ;		/* 上下左右の余白を0にしておく */
  text-align: center;
  margin: 100px 0;
  background-color:#F4F4F4;
}
.when-content{
  padding: 30px ;		/* 上下左右の余白を0にしておく */
}

.when-img{
  width: 200px;
}


.adv-wrapper{
  margin: 0 auto ;	/* 左右に[auto]を指定することで、真ん中に寄る */
	padding: 0 ;		/* 上下左右の余白を0にしておく */
  text-align: center;
  margin: 100px 0;
}
.adv-title{
  padding: 20px 0;
}


/* フッター */
footer{
  font-size: 15px;
	text-align: center ;				/* テキスト、画像の真ん中寄せ */
	margin-top: 2em ;					/* 他のブロックとのスペース */
	padding: 3em 0 ;					/* 上下の余白 */
	background: #F4F4F4 ;
  text-decoration: none;
}

.offical-account-link .fa-twitter {
  color: #00aced;
}

a{
  text-decoration: none;
  color:black;
}

.kiyaku-title{
  text-align: center;
}
.main-orange{
  color: #FEAD16;
}

.inner-wrapper{
  padding: 0 200px
}

.links{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links li{
  position: relative;
  padding: 0 13px;
}

.links li:not(:first-child):before{
  position: absolute;
  content: '|';
  left: -2px;
}

/*===============================================
画面の横幅が740pxまで（スマホ用）
===============================================*/
@media screen and (max-width: 650px) {
  .hero-title, .howto-title, .when-title, .adv-title, .kiyaku-title{
    font-size: 26px;
  }
  .feature-subtitle, .howto-subtitle{
    font-size: 18px;
  }

  .inner-wrapper{
    padding: 0 20px
  }

}
